*{
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;    
    background-image: url("../img/fondo5.jpg");
    background-repeat: repeat-x repeat-y;
    background-attachment: fixed;
    background-position: center;        
}

#imgProducto{
    width: 100%;
}
.flex-container{
    display: flex;
    background-color: rgb(127, 129, 255);
    padding: 10px;
    justify-content: center;
    flex-direction: column;
}
.flex-container div{
    background-color: aquamarine;
    padding: 10px;
}
.flex-container div p{
    font-family: sans-serif;
    padding: 10px;
    justify-content: center;
    text-align: center;
}
.row{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.column{
    padding: 10px;
    margin: 10px;
    max-width: 800px;
    
}
h1{
    background-color: rgba(0, 66, 0, 30%);
    font-family: sans-serif;
    font-size: 45px;
    color: rgb(2, 2, 2);
    text-align: center;
}
h2{
    font-size: 25px;
    text-align: center;
}
#textProductoDescrption{
    text-align: center;
}
p{
    font-family: sans-serif;
    color:rgb(0, 0, 0);
}

h3{
    color: blanchedalmond;
}
#redes{
    text-align: center;
    background-color: black;    
}
nav{
    text-align: center;
    background-color: black;  
    font-family: sans-serif;
}

a{
    font-size: x-large;
    margin-left: 10px;
    animation-duration: 2s;
    animation-name: slidein;
    color: aqua;
}
a:hover{
    color:#ff00f2;
}
